/*css for navigation bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: center
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #1da73b;
}
h1{
    text-align: center;
}
.active {
    background-color: #4CAF50;
}

#nav_bar {
    height: 100px;
    text-align: center;
}
/*css for framing the pictures */

#frame {
    height: 672px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.frame_wrap {
    width: 672px;
    margin: 25px auto;
}

.active {
    background-color: #4CAF50;
}

#content {
    border-bottom: 1px solid #111;
    padding-bottom: 50px;
}

.content_wrap {
    width: 736px;
    margin: 0 auto;
    overflow: hidden;
}

#frame {
    width: 672px;
    height: 672px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.frame_wrap {
    width: 672px;
    margin: 25px auto;
}

.frame_wrap p {
    text-align: center;
}


/* Thumbs */

.thumbnail_frame {
    width: 180px;
    height: 174px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.thumbnail_wrap {
    width: 180px;
    float: left;
    margin: 15px 30px;
}

.thumbnail_wrap p {
    margin-bottom: 5px;
}
