/*css for navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #1da73b;
}
.active {
    background-color: #4CAF50;
}

/*css for the tables*/

#frame{ 
/*width: 672px; background: url('../images/border-big.png') 0 0;*/
 height: 672px; 
 display: table-cell; 
 vertical-align: middle; 
 text-align: center; 
}
.frameWrap{ 
width: 672px; margin: 25px auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #1da73b;
}
.active {
    background-color: #4CAF50;
}

/*css for the tables*/

.thumbframe             
{ 
/*width: 160px; background: url('../images/border-small.png') 0 0;*/
 height: 174px; display: table-cell; 
 vertical-align: left; 
 text-align: center; }
.thumbWrap              
{ width: 174px; 
    float: left; 
    margin: 15px 5px; 
}
.thumbWrap p 
{ 
    margin-bottom: 5px; 
}
.UploadForm{
    

}




