<h1>{{ page_heading }}</h1>
{{ page_title }}


		
		    <div id="UploadForm">
             <form  enctype="singlefileupload" action="upload.php" method="post">
                <div>
                 <input name="userfile" type="file" id="fileinput" />
                 <p>Title:<input type="text" name="name" value="" size="37"> </p> 
            
          
                 <p>Description:</p><textarea name="comment" rows="5" cols="40"></textarea></br>
            
                 <input type="submit" value="Upload image"/>
                </div>
            
                
            </form>
        
            
                
            </div>
           